.conteiner {
    width: 100vw;
    position: relative;
    padding-top: 5vh;

}

.imgFondo {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
}

.imgFondo img {
    width: 110%;
}

.titulo {
    width: 27vw;
    background-color: #c8f81a;
    color: black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3vw;
    padding-left: 8vw;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    margin-top: 10vh;
    text-transform: uppercase;
}

.textos {
    padding-left: 11.5vw;
    margin-top: 2vw;
    line-height: 1vw;
    z-index: 2;
      position: relative;
}

.tarjeta {
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 2vw;
    width: 50vw;
    height: 15vw;
    margin: 5vh 25vw 10vh 25vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.colum {
    width: 45%;
    position: relative;
    padding: 6vw 0;
    height: 10vw;
}

.colum h3 {
    font-size: 1vw;
    position: absolute;
    left: 14%;
    top: 10%;
}

.colum p {
    position: absolute;
    left: 14%;
    top: 25%;
}

.colum a {
    color: #6808C4;
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    left: 14%;
    bottom: 10%;
}

.colum a:hover {
    opacity: 0.9;
}

.colum a img {
    margin-left: 0.5vw;
}

.colum1 {
    border-right: 1px solid black
}

.trabaja {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw 1vw 8vw;
    background: #2E9380;
    background: linear-gradient(90deg, rgba(46, 147, 128, 1) 15%, rgba(0, 0, 0, 1) 59%);
}

.trabaja p {
    margin: 0px;

}

.trabaja h4 {
    margin: 0px;
    font-size: 1vw;

}

.form {
    width: 50%;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 60vw;
    overflow: hidden;
    transition: all 0.6s ease;
}

.form input {
    background-color: transparent;
    border: none;
    padding-left: 2vw;
    transition: all 0.6s ease;
    flex-grow: 1;
    opacity: 1;
}

input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.form button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 50vw;
    height: 2.5vw;
    margin: 0.25vw;
    padding: 0 1.5vw;
    transition: all 0.6s ease;
    white-space: nowrap;
    flex-shrink: 0;
}

/* Estado ENVIADO animado */

.form.enviado {
    justify-content: center;
}

.form button:hover {
    color: #c8f81a;
}

.form button.enviado {
    background-color: black;
    color: white;
    flex-grow: 1;

    border-radius: 60vw;

}

.form input.enviado {
    width: 0;
    padding-left: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    flex-grow: 0;
}

@media only screen and (max-width: 900px) {



    .conteiner {
        width: 100vw;
        height: auto;
        position: relative;
        padding-top: 0vh;
        padding-top: 0vh;
        margin-top: 0px;
        background-color: white;
        padding-bottom: 15vw;
    }

    .titulo {
        width: 100%;
        padding: 2em 0;
        background-color: #c8f81a;
        color: black;
        text-align: center;
        text-transform: capitalize;
        border-radius: 0;
        margin: 0px;

    }

    .imgFondo,
    .trabaja,
    .textos {
        display: none;
    }


    .tarjeta {
        position: relative;
        z-index: 2;
        border-radius: 2vw;
        width: 100%;
        height: auto;
        margin: 0px;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }



    .colum {
        background-color: white;
        width: 90%;
        height: auto;
        margin: 4vw auto;
        color: black;
        padding: 10vw;
        border-radius: 10vw;
        border: 1px solid black;

    }

    .colum h3 {
        font-size: 5vw;
        display: inline-block;
        line-height: normal;
        border-radius: 0px;
        margin-bottom: 6vw;
        padding: 0px;
        position: relative;
        left: 0;
        top: 0;

    }

    .colum p {
        position: relative;
        left: 0%;
        top: 0%;
    }
.colum a {
    color: #6808C4;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    left: 0%;
    bottom: 0%;
}





}
