<div class="conteiner">
  <div class="imgFondo">
    <img src="img/servicios_background.svg" alt="">
  </div>
  <div class="titulo">
    <h2>SERVICIOS</h2>
  </div>
  <div class="textos">
    <p>Somos un nodo dedicado al <span>rendimiento</span> y <span>bienestar</span>.</p>
    <p>Entre entrenamientos o después de un partido, viví la experiencia completa en R5 disfrutando de estos servicios
    </p>
  </div>
  <div class="tarjeta">
    <div class="colum">
      <h3>Fisioterapia</h3>
      <p>Prevení y tratá lesiones.
        Cuidá tu cuerpo con profesionales</p>
      <a href="">Solicitá un turno <img src="img/icon.svg" alt=""></a>
    </div>
    <div class="colum barberia">
      <h3>Barbería</h3>
      <p>Cortes y arreglos con estilo.</p>

      <a href="">Reservá ahora <img src="img/icon.svg" alt=""></a>
    </div>
    <div class="colum">
      <h3>Pestañas y uñas</h3>
      <p>Servicio estético para sentirte bien de pies a cabeza.</p>
      <a href="">Agendá tu cita <img src="img/icon.svg" alt=""></a>
    </div>
  </div>
  <div class="trabaja">
    <p>¿Te gustaría trabajar con nosotros? <br>
      Ingresá tu email y te enviamos el formulario.</p>
    <h4>Vamos! —</h4>
    <div class="form">
      <input type="email" placeholder="Ingresa tu email">
      <button>Quiero formar parte</button>
    </div>
  </div>
</div>