.conteiner {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/hero_background-min.png');

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6vw;
}

.logo {
    width: 20vw;
    z-index: 2
}

.negro{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.logo img {
    width: 100%
}

.boton {
    margin-top: 4vw;
    z-index: 2

}

.boton button {
    background-color: #c8f81a;
    color: black;
    border: none;
    padding: 0.8vw 2vw;
    border-radius: 0.5vw;

}



@media only screen and (max-width: 900px) {



    .conteiner {
        width: 100vw;
        height: 100vh;
        background-image: url('/img/fondoMobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 6vw;
    }

    .logo {
        width: 60vw;
    }

    .logo img {
        width: 100%
    }

    .boton {
        margin-top:30vw;
    }

    .boton button {
        background-color: #c8f81a;
        color: black;
        border: none;
        padding: 2vw 6vw;
        border-radius: 3vw;
        font-size: 5vw;

    }
}
