<div class="conteiner desktop">
  <div class="titulo">
    <h2>Espacios y deportes</h2>
  </div>
  <div class="textoPrincipal">
    <p>R5 está formado por nodos que unen deporte, diversión y bienestar.</p>
  </div>

  <div class="scroll-container">
    <section class="seccion" id="deporte1">
      <div class="black"></div>
      <div class="tituloSeccion">
        <img src="img/GYM.svg" alt="" />

        <div class="botones">
          <a href="https://wa.me/5492215055082?text=Hola,%20quisiera%20consultar%20por%20el%20Gimnasio "
            target="_blank">
            <img src="img/flecha-GYM.svg" alt="" /> Consultá
          </a>

          <a href="https://micuenta.gest-gym.com/altas.aspx?acc=VXdURVg5VkVYbHRTN21ndXNoRExadz09" target="_blank">
            <img src="img/flecha-GYM.svg" alt="" /> Inscribite
          </a>
        </div>
      </div>
      <div class="contenidoSeccion">
        <p>
          Diseñadas para que explores distintas formas de entrenar: máquinas de
          musculación, entrenamiento funcional y alto rendimiento con aplicación
          de tecnología neural trainer.
        </p>
      </div>
    </section>
    <section class="seccion" id="deporte2">
      <div class="tituloSeccion">
        <h4>CANCHAS 360° DE</h4>
        <img src="img/PADEL.svg" alt="" />

        <div class="botones">
          <a href="https://turnos.sportsreel.com.ar/e/R5NodoDeportivo" target="_blank">
            <img src="img/flecha-PADEL.svg" alt="" /> Reservá
          </a>

          <a href="https://sportsreel.com.ar/#/complejo/R5%20Nodo%20Deportivo" target="_blank"
            class="botonDiferente">
            Reviví tu partido
          </a>
        </div>
      </div>
      <div class="contenidoSeccion">
        <p>
          4 canchas de padel indoor. Vestuarios y balcones para expectadores.
          Viví el pádel como nunca. Jugá sin interrupciones, todo el año, todo
          el día.
        </p>
      </div>
    </section>
    <section class="seccion" id="deporte3">
      <div class="black"></div>
      <div class="tituloSeccion">
        <h4>CANCHA DE</h4>
        <img src="img/FUTBOL.svg" alt="" />
      </div>
      <div class="contenidoSeccion">
        <p>
          Con césped natural y riego artificial, acondicionada para
          entrenamientos de alto rendimiento
        </p>
      </div>
    </section>
  </div>

  <div class="navegacion">
    <div class="linea"></div>
    <div *ngFor="let seccion of secciones" [class.active]="activeSection === seccion.id" (click)="scrollTo(seccion.id)"
      class="punto"></div>
    <div class="linea"></div>
  </div>
</div>

<div class="conteiner mobile">
  <div class="tituloM">
    <h2>Deportes</h2>
  </div>
  <div class="deportes">
    <section class="dep" id="deporte1">
      <div class="black"></div>
      <div class="tituloSeccionM">
        <img src="img/GYM-M.svg" alt="" />
      </div>
      <div class="contenidoSeccionM">
        <p>
          Diseñadas para que explores distintas formas de entrenar: máquinas de
          musculación, entrenamiento funcional y alto rendimiento con aplicación
          de tecnología neural trainer.
        </p>
      </div>
          <div class="botones">
            <a href="https://wa.me/5492215055082?text=Hola,%20quisiera%20consultar%20por%20el%20Gimnasio " target="_blank">
              <img src="img/flecha-GYM.svg" alt="" /> Consultá
            </a>

            <a href="https://micuenta.gest-gym.com/altas.aspx?acc=VXdURVg5VkVYbHRTN21ndXNoRExadz09" target="_blank">
              <img src="img/flecha-GYM.svg" alt="" /> Inscribite
            </a>
          </div>
    </section>
    <section class="dep" id="deporte2">
      <div class="tituloSeccionM">
        <h4>CANCHAS 360° DE</h4>
        <img src="img/PADEL.svg" alt="" />


      </div>
      <div class="contenidoSeccionM">
        <p>
          4 canchas de padel indoor. Vestuarios y balcones para expectadores.
          Viví el pádel como nunca. Jugá sin interrupciones, todo el año, todo
          el día.
        </p>
      </div>
     <div class="botones">
          <a href="https://turnos.sportsreel.com.ar/e/R5NodoDeportivo" target="_blank">
            <img src="img/flecha-PADEL.svg" alt="" /> Reservá
          </a>

          <a href="https://sportsreel.com.ar/#/complejo/R5%20Nodo%20Deportivo" target="_blank"
            class="botonDiferente">
            Reviví tu partido
          </a>
        </div>
    </section>
    <section class="dep" id="deporte3">
      <div class="black"></div>
      <div class="tituloSeccionM">
        <h4>CANCHA DE</h4>
        <img src="img/FUTBOL.svg" alt="" />
      </div>
      <div class="contenidoSeccionM">
        <p>
          Con césped natural y riego artificial, acondicionada para
          entrenamientos de alto rendimiento
        </p>
      </div>
    </section>
  </div>



</div>
