 <app-navbar></app-navbar>
<app-hero id="Home"></app-hero>
<app-deportes id="Deportes"></app-deportes>
  <div class="bajar">
    <img (click)="scrollToSection('Espacios')" src="img/Flecha.svg" alt="">
  </div>

<app-espacios id="Espacios"></app-espacios>
<app-servicios id="Servicios"></app-servicios>
  <div class="bajar">
    <img (click)="scrollToSection('Ubicacion')" src="img/Flecha.svg" alt="">
  </div>
<app-ubicacion  id="Ubicacion" ></app-ubicacion>
<app-contacto id="Contacto" ></app-contacto>
<app-footer id="Fotter"></app-footer>
