<header role="banner">
  <app-navbar></app-navbar>
</header>

<main id="main-content">

  <app-hero id="Home"></app-hero>

  <section id="Deportes" aria-label="Sección de Deportes">
    <app-deportes></app-deportes>
  </section>

  <div class="bajar">
    <button (click)="scrollToSection('Espacios')" aria-label="Bajar a la sección de Espacios" class="btn-invisible">
      <img src="img/Flecha.svg" alt="flecha para cambiar seccion" aria-hidden="true">
    </button>
  </div>

  <section id="Espacios" aria-label="Nuestros Espacios">
    <app-espacios></app-espacios>
  </section>

  <section id="Servicios" aria-label="Servicios Disponibles">
    <app-servicios></app-servicios>
  </section>

  <div class="bajar">
    <button (click)="scrollToSection('Ubicacion')" aria-label="Bajar a la sección de Ubicación" class="btn-invisible">
      <img src="img/Flecha.svg" alt="flecha para cambiar seccion" aria-hidden="true" >
    </button>
  </div>

  <section id="Ubicacion" aria-label="Dónde estamos">
    <app-ubicacion></app-ubicacion>
  </section>

  <section id="Contacto" aria-label="Formulario de Contacto">
    <app-contacto></app-contacto>
  </section>

</main>

<app-footer></app-footer>
