<div class="conteiner">
  <div class="contenido">
    <div class="titulo">
      <h2>Viví la experiencia</h2>
    </div>
    <div class="textos">
      <p>Te esperamos en Av. 90 y C. 12 #878 en Villa Elvira.</p>
      <p>Crecimos en este barrio, por lo que decidimos apostar y fundar en Villa Elvira nuestro complejo deportivo y así
        revalorizar una zona clave muy cercana el casco urbano de La Plata.</p>
      <p>En el predio contás con estacionamiento interno.
        Te recomendamos acceder por Av. 7.</p>
      <p>TRANSPORTE PÚBLICO:</p>
      <p>Línea ESTE: 12 y 13 - Paradas enfrente del complejo.</p>
      <p>Línea ESTE: 11, 14 Y 16 | LÍNEA 307 A16 | LÍNEA 518</p>
      <p>Semirrápido - Paradas en Av. 7 y C. 89 y Av. 7 entre
        C. 90 y C. 91.</p>
    </div>

  </div>
  <div class="mapa">
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.327915725419!2d-57.9146464!3d-34.948389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e90016ca1829%3A0x50b43f555a26b172!2sR5%20Nodo%20Deportivo!5e0!3m2!1ses-419!2sar!4v1752420156479!5m2!1ses-419!2sar"
  width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>