<div class="conteiner desktop">
  <div class="tarjeta">
    <div class="textos">
      <h3>Un nodo, muchas formas de conectarte</h3>
      <p>Coworking <br>
        Sala de reuniones <br>
        Área recreativa</p>
    </div>
    <div class="imagenes">
      <img [src]="imagenActual" alt="Imagen rotativa" />
    </div>
  </div>
</div>

<div class=" mobile">
  <h2>Un nodo, <br> muchas formas de conectarte</h2>
  <img src="img/galeria/img1.png" alt="">
  <p>Espacio de coworking</p>
  <img src="img/galeria/img2.png" alt="">
  <p>Sala de reuniones</p>
  <img src="img/galeria/img3.png" alt="">
  <p>Área recreativa</p>
</div>