<div class="conteiner desktop">
  <div class="tarjeta">
    <div class="textos">
      <img class="titulo" src="img/UN NODO - para web.svg" alt="">

      <p class="principal">
        Un <span>espacio de encuentro</span> donde muchas personas, sin importar
        su edad, experiencia o físico, interactúan y generan redes colaborativas
        para desafiarse y avanzar gracias al <br>
        <span>poder transformador del deporte.</span>
      </p>
      <p style="font-weight: 500;">
        Bar + coffee work <br />
        Áreas recreativas <br />
        Sala de Coworking <br />

      </p>
    </div>
    <div class="imagenes">
      <swiper-container class="custom-swiper" slides-per-view="1" navigation="false" pagination="true" autoplay="true" loop="true">
        <swiper-slide>
          <div class="tarjetaMobile">
            <img src="img/galeria/1-min.jpg" alt="">

          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="tarjetaMobile">
            <img src="img/galeria/2-min.png" alt="">

          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="tarjetaMobile">
            <img src="img/galeria/3-min.png" alt="">

          </div>
        </swiper-slide>

      </swiper-container>
    </div>
  </div>
</div>

<div class="mobile">

  <swiper-container class="custom-swiper" slides-per-view="1" navigation="false" pagination="true" autoplay="true" loop="true">
    <swiper-slide>
      <div class="tarjetaMobile">
        <img src="img/galeria/1mobile-min.png" alt="">
        <h4>BAR + COFFEE WORK</h4>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="tarjetaMobile">
        <img src="img/galeria/2mobile-min.png" alt="">
        <h4>ÁREAS RECREATIVAS</h4>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="tarjetaMobile">
        <img src="img/galeria/3mobile-min.png" alt="">
        <h4>SALA DE COWORKING</h4>
      </div>
    </swiper-slide>

  </swiper-container>


</div>
