<div class="conteiner">
    <div class="textos">
        <h1>Estemos en contacto</h1>
        <p>Enterate de todas las novedades, fecha de inaguración y futuros eventos dejando tu email.</p>
    </div>
    <div class="form">
        <div class="item">
            <input type="text">
            <p>NOMBRE Y APELLIDO</p>
        </div>
        <div class="item">
            <input type="text">
            <p>EMAIL</p>
        </div>
    </div>
    <div class="redes">
        <div class="elem">
            <p>Envianos un Whatsapp</p>
            <a href="tel: +54 9 221 505 - 5082">+54 9 221 505 - 5082</a>
        </div>
      
        <div class="elem">
            <p>Seguinos en las redes</p>
            <a href=""><img src="img/insta.svg" alt="">&#64;r5nododeportivo</a>
            <a href=""><img src="img/facebook.svg" alt="">R5 Nodo Deportivo</a>
        </div>
        <div class="elem">
            <p>Llamanos</p>
            <a href="tel: +54 9 221 505 - 5082">221 456 0800</a>

        </div>

     
    </div>
    <div class="imagenes">
        <div class="imagenes2">
        <div class="ciculo">
            <img src="img/contactoFondo.svg" alt="">
        </div>
        <div class="logo">
            <img src="img/Logo (1).svg" alt="">
        </div>
        </div>
    </div>
</div>