

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
  color: white;
}
h2 {
  margin: 0;
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
  scrollbar-width: thin;
}



@media only screen and (max-width: 900px) {}

html, body { height: 100%; }

